In [127]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [128]:
# Read the CSV files into DataFrames.
athletic_sales_2020_df = pd.read_csv('Resources/athletic_sales_2020.csv')

athletic_sales_2021_df = pd.read_csv('Resources/athletic_sales_2021.csv')

In [129]:
# Display the 2020 sales DataFrame
athletic_sales_2020_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [130]:
# Display the 2021 sales DataFrame
athletic_sales_2021_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [131]:
# Check the 2020 sales data types.
print (athletic_sales_2020_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [132]:
# Check the 2021 sales data types.
print (athletic_sales_2021_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [135]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
#combined_sales_df = pd.merge(athletic_sales_2020_df, athletic_sales_2021_df,how='inner')
combined_sales_df = pd.concat([athletic_sales_2020_df, athletic_sales_2021_df], ignore_index=True)
combined_sales_df.reset_index(drop=True, inplace=True)
print(combined_sales_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [134]:
# Check if any values are null.
null_values = combined_sales_df.isnull().sum()
print(null_values)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [136]:
# Check the data type of each column
data_types = combined_sales_df.dtypes
print(data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [137]:
# Convert the "invoice_date" to a datetime datatype
combined_sales_df['invoice_date'] = pd.to_datetime(combined_sales_df['invoice_date'])
print(combined_sales_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

C:\Users\bradl\AppData\Local\Temp\ipykernel_19700\3600143553.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales_df['invoice_date'] = pd.to_datetime(combined_sales_df['invoice_date'])

In [138]:
# Confirm that the "invoice_date" data type has been changed.
data_types_after_conversion = combined_sales_df.dtypes
print(data_types_after_conversion)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [139]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".

grouped_df = combined_sales_df.groupby(['region', 'state', 'city']).agg(Total_Products_Sold=('units_sold', 'sum')).reset_index()


# Show the top 5 results.
top_5_results = grouped_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)  
print(top_5_results)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [140]:
# Show the number products sold for region, state, and city.
pivot_table_df = pd.pivot_table(combined_sales_df, 
                                values='units_sold', 
                                index=['region', 'state', 'city'], 
                                aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table_df.sort_values(by='Total_Products_Sold', ascending=False).head()
print(top_5_results)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [142]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
#grouped_df = combined_sales_df.groupby(['region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum')).reset_index()
#grouped_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
# Show the top 5 results.
#top_5_results = grouped_df.sort_values(by='Total Sales', ascending=False).head()
#print(top_5_results)

#### Using `pivot_table`

In [143]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table_df = pd.pivot_table(combined_sales_df,
                                values='total_sales',
                                index=['region', 'state', 'city'],
                                aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
top_5_results = pivot_table_df.sort_values(by='Total Sales', ascending=False).head()
print(top_5_results)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [151]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table_df = pd.pivot_table(combined_sales_df,
                                values='total_sales',
                                index=['retailer', 'region', 'state', 'city'],
                                aggfunc='sum').reset_index()



# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table_df.sort_values(by='Total Sales', ascending=False).head()
print(top_5_results)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [144]:
# Filter the sales data to get the women's athletic footwear sales data.
#print(combined_sales_df.columns)
#womens_footwear_sales = combined_sales_df[combined_sales_df["product"].str.contains("Women's Athletic Footwear")]
womens_footwear_sales = combined_sales_df.loc[combined_sales_df["product"].str.contains("Women's Athletic Footwear")]
print(womens_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [145]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_df = pd.pivot_table(combined_sales_df[combined_sales_df["product"].str.contains("Women's Athletic Footwear")],
                                values='units_sold',
                                index=['retailer', 'region', 'state', 'city'],
                                aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
# Show the top 5 results.
top_5_results = pivot_table_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head()
print(top_5_results)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [146]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
#pivot_table = pd.pivot_table(combined_sales_df, 
 #                            values='total_sales', 
   #                          index='invoice_date')
#daily_sales = pivot_table.resample('D').sum()
#top_10_days = daily_sales.sort_values(by='total_sales', ascending=False).head(10)
pivot_table = pd.pivot_table(combined_sales_df[combined_sales_df["product"].str.contains("Women's Athletic Footwear")],
                             values='total_sales',
                             index='invoice_date',
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
#top_10_days.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
# Optional: Rename the "total_sales" column to "Total Sales"
#pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(pivot_table)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [150]:
# Resample the pivot table into daily bins, and get the total sales for each day.
#daily_sales = pivot_table.resample('D').sum()
daily_sales = pivot_table.resample('D').sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
#sorted_daily_sales = daily_sales.sort_values(by='total_sales', ascending=False).head(10)
daily_sales_sorted = daily_sales.sort_values(by='Total Sales', ascending=False).head(10)
print(daily_sales_sorted)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [148]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False).head(10)
weekly_sales_sorted

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602